*

!requirements.txt
!demucs/
!demucs/**

.git
.github
venv
web_jobs
SourceAudio
demucs/SourceAudio
single_video_downloads
Output
separated
mp3_downloads
shorts_downloads
lab
outputs
tests
**/*.mp3
**/*.wav
**/*.flac
**/*.m4a
**/*.ogg
**/*.aif
**/*.asd
**/*.als
**/*.tar.gz
**/__pycache__
**/*.pyc
.DS_Store
