*.egg-info
__pycache__
Session.vim
/build
/dist
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/tests
/trash
/misc
/mdx
.mypy_cache
/venv
/web_jobs
/SourceAudio
/demucs/SourceAudio
/single_video_downloads
/Output
*.mp3
*.wav
*.flac
*.m4a
*.ogg
.DS_Store
